A bit about the command:
<div style="margin-bottom:10px;">
  <ul style="margin: 0;">
    <li>weather : gets weather info based on IP location</li>
    <li>weather zipcode (example, weather 10036) : gets weather info for specified zipcode</li>
    <li>weather city/country (example, weather new york) : gets weather info for relevant city/country</li>
    <li>weather address (example, weather 221B Baker Street, London): gets weather for Mr. Sherlock Holmes</li>
    <li>shortcut: -w (example, -w new york)</li>
  </ul>
</div>