<div id="user-registration">
	<header>
		<div class="header-left">
			<h1>Sign up for free</h1>
		</div>
		<div class="header-right">
			<h3>Already have an account? <%= link_to "Log in", login_path %></h3>
		</div>
	</header>

	<%= render 'form' %>


</div>
