<footer class="footer-styles">
<ul>
                <li class="copyright">Copyright &copy; 2011, OmniCommand, Inc. All rights reserved.</li>
                <li><a href="">Home</a></li>                
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Terms</a></li>
                <li class="last"><a href="">Home</a></li>
</ul>
</footer>

