<div class="person-info">
<div>	
<table>
	<tr>
		<td colspan="2">&nbsp;&nbsp;Logged into Twitter as:</td>
	</tr>
	<tr>
		<td><%= image_tag("#{@results[:data]['profile_image_url']}", :border => 0) %></td>
		<td>
			<div><h3 style="display: inline;"><span class="user-name"><%= link_to @results[:data]['name'], "https://twitter.com/#!/#{@results[:data]['screen_name']}", :target=>"_blank" %></span> </h3> @<%= @results[:data]['screen_name']%></div>
			<div><%= @results[:data]['description']%></div>				
		</td>
	</tr>
</table>
</div>

</div>

